


#mainTitle {
	margin-top: 20vh;
}

.container{
    width:85vw;
    margin:50px auto
}
.list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.item{
    text-align: center;
    position: relative;
    background-color: #202731;
    padding: 5px;
    margin: 5px;
    opacity: 0;
	background-repeat: no-repeat;
    width: calc(100vw/5);
    height: calc(100vw*1080/(5*1920));
}

#card {color:white;}
#card:visited {color:white;}

.item .img{
    padding: 5px;
    width: 100%;
    text-align: center;
}
.item .img img{
    width:60%;
}
.content {
    letter-spacing: 1px;
    padding: 5px;
    /*height: max-content;*/
    opacity: 0;
    transition: all 0.5s ease; /* Ajoutez une transition pour créer une animation fluide */
    width: -moz-available;
    height: calc(100vw*1920/(17*1080));
}

.content:hover {
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    padding: 5px;
    /*height: max-content;*/
    opacity: 1;
}

.content .category{
    font-size: small;
    opacity: 0.7;
}
.content .title{
    font-size: 15px;
    font-weight: 600;
    margin-top:10px;
}

.content .description{
    font-size: 15px;
    font-weight: 600;
    margin-top:10px;
    text-align: justify;
}

.content .price{
    margin-top:10px;
    font-size: 15px;
}
.content .price .old{
    opacity: .7;
    padding:0 10px;
}

.content .price .new{
    padding:0 10px;
    font-weight: 500;
}
.content .addCard{
    margin-top:10px;
    padding:10px 20px;
    background-color: #ECD0AD;
    border:none;
}
.filterGrid{
    text-align: right;
    margin-right: 5px;
}
.filterGrid label{
    margin: 0 0 5px;
    background-color: #e5e5e5;
    display: inline-block;
    padding:10px;
    width:70px;
    text-align: center;
}
.filterGrid label img{
    width:30px
}
input[name="grid"][value="1"]:checked ~ .list{
    grid-template-columns: auto;
}
input[name="grid"][value="2"]:checked ~ .list{
    grid-template-columns: auto auto;
}
input[name="grid"][value="3"]:checked ~ .list{
    grid-template-columns: auto auto auto;
}
input[name="grid"][value="4"]:checked ~ .list{
    grid-template-columns: auto auto auto auto;
}
input[type="radio"]{
    display: none;
}

input[name="grid"][value="1"]:checked ~ .filterGrid label[for="grid-1"]{
    background-color: #ECD0AD;
}
input[name="grid"][value="2"]:checked ~ .filterGrid label[for="grid-2"]{
    background-color: #ECD0AD;
}
input[name="grid"][value="3"]:checked ~ .filterGrid label[for="grid-3"]{
    background-color: #ECD0AD;
}
input[name="grid"][value="4"]:checked ~ .filterGrid label[for="grid-4"]{
    background-color: #ECD0AD;
}

@keyframes effectChangeGrid{
    from{
        opacity: 0;
        transform: translate(0,10px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes effectChangeGrid2{
    from{
        opacity: 0;
        transform: translate(0,10px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes effectChangeGrid3{
    from{
        opacity: 0;
        transform: translate(0,10px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes effectChangeGrid4{
    from{
        opacity: 0;
        transform: translate(0,10px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}

input[name="grid"][value="1"]:checked ~ .list .item{
    animation:effectChangeGrid 1s ease-in-out 1 forwards
}
input[name="grid"][value="2"]:checked ~ .list .item{
    animation:effectChangeGrid2 1s ease-in-out 1 forwards
}
input[name="grid"][value="3"]:checked ~ .list .item{
    animation:effectChangeGrid3 1s ease-in-out 1 forwards
}
input[name="grid"][value="4"]:checked ~ .list .item{
    animation:effectChangeGrid4 1s ease-in-out 1 forwards
}
.item:nth-child(2){
    animation-delay: 0.2s!important;
}
.item:nth-child(3){
    animation-delay: 0.4s!important;
}
.item:nth-child(4){
    animation-delay: 0.6s!important;
}
.item:nth-child(5){
    animation-delay: 0.8s!important;
}
.item:nth-child(6){
    animation-delay: 1s!important;
}
.item:nth-child(7){
    animation-delay: 1.2s!important;
}
.item:nth-child(8){
    animation-delay: 1.4s!important;
}
/*input[name="grid"][value="1"]:checked ~ .list .item,
input[name="grid"][value="2"]:checked ~ .list .item{
    display: flex;
    text-align: center;
    align-items: center;
}*/

.waveProduct {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.waveProduct svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 58px;
}

.waveProduct .shape-fill {
    fill: #560090;
}

.waveProduct {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.waveProduct svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 58px;
}

.waveProduct .shape-fill {
    fill: #560090;
}

.waveProduct {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.waveProduct svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 58px;
}

.waveProduct .shape-fill {
    fill: #560090;
}

.waveProduct {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

.waveProduct svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 58px;
}

.waveProduct .shape-fill {
    fill: #560090;
}
